# Python virtual environment
env/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Data folder (if it contains user-generated or dynamic content)
data/

# Editor/Workspace files
*.code-workspace

# macOS system files
.DS_Store